body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #504e4e;
}
* {
    text-decoration: none;
}
.contenedor-arriba {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    
    
}   
    #contenedor-arriba {
        display: block; 
        display: none;
    }

    #contenedorBoton-arriba {
        margin-top: 20px; 
        position: static;
        padding: 10px;
    }


    .contenedor-arriba h2 {
        color: white;
        text-align: center;
    }

        #menu-iconos {
            cursor: pointer;
            margin-bottom: 20px;
        }

            .barra {
                width: 25px;
                height: 3px;
                background-color: white;
                margin: 5px 0;
            }

        /*#menu-opciones {
            
        }*/

            #menu-opciones li {
                padding: 10px;
            }

            #menu-opciones a {
                color: white;
                text-decoration: none;
            }

                #menu-opciones a:hover {
                    background-color: #555;
                }


/* medio */
.contenedor-medio{
    /* margin-left: 270px; */
    /* padding: 20px; */
    background-color: rgb(207, 190, 182);
}   
    .barra-medio {
        background-color: rgb(112, 72, 72);
        padding-bottom: 50px;
    }
    .hero{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        
    }
        .hero-logo{
            height: 100px; 
            width: auto; 
        }
        .contenido {
            text-align: center;
            margin-top: 50px;
        }
        
        .contenido-imagenes {
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .contenido-imagenes img {
            height: 300px;
            width: auto; 
            margin: 0 10px; 
            border-radius: 50px;
        }
        
        .contenido-titulo_forma {
            background-color: rgb(112, 72, 72); 
            border-radius: 50px;
            padding: 20px; 
        }
        .ubicacion {
            text-align: center;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        .ubicacion img {
            height: 500px;
            width: 500px;
            padding-bottom: 20px;
        }
        .ubicacion a {
            background-color: #333;
            padding: 20px;
            color: #ffff;
            border-radius: 50px;
            margin-bottom: 20px;
        }
            .ubicacion a:hover{
                background-color: #9c0000;
                
            }
.contenedor-abajo{
    text-align: center;
}