body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../image/uleamFondo.jpg);
}
* {
    text-decoration: none;
}
.contenedor-arriba {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    
    
}   
    #contenedor-arriba {
        display: block; 
        display: none;
    }

    #contenedorBoton-arriba {
        margin-top: 20px; 
        position: static;
        padding: 10px;
    }


    .contenedor-arriba h2 {
        color: white;
        text-align: center;
    }

        #menu-iconos {
            cursor: pointer;
            margin-bottom: 20px;
        }

            .barra {
                width: 25px;
                height: 3px;
                background-color: white;
                margin: 5px 0;
            }

        /*#menu-opciones {
            
        }*/

            #menu-opciones li {
                padding: 10px;
            }

            #menu-opciones a {
                color: white;
                text-decoration: none;
            }

                #menu-opciones a:hover {
                    background-color: #555;
                }

                .contenedor-medio-panel{
                    max-width: 500px;
                    margin: 50px auto;
                    padding: 20px;
                    background-color: #5d040496;
                    border-radius: 10px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                }
                
                .registro-panel {
                    background-color: #fff;
                    border-radius: 10px;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                    padding: 20px;
                    align-items: center;
                    text-align: center;
                }
                
                .registro-panel h2 {
                    text-align: center;
                    margin-bottom: 20px;
                    color: #333;
                }
                
                .registro-panel form div {
                    margin-bottom: 15px;
                }
                
                .registro-panel label {
                    display: block;
                    margin-bottom: 5px;
                    color: #000000;
                }
                .registro-panel .hero-logo{
                    height: 100px; 
                    width: auto; 
                }
                .registro-panel input, .registro-panel select {
                    width: calc(100% - 20px);
                    padding: 10px;
                    box-sizing: border-box;
                    border: 1px solid #000000;
                    border-radius: 20px;
                }
                
                .registro-panel button {
                    width: 100%;
                    padding: 10px;
                    background-color: #9c0000;
                    color: #fff;
                    border: none;
                    border-radius: 20px;
                    cursor: pointer;
                    margin-bottom: 20px;

                }
                
                .registro-panel button:hover {
                    background-color: #0c5d2f;
                }
                


.contenedor-abajo{
    text-align: center;
}